.headerOuterContainer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 10vh;
  color: white;
  transition: background-color 0.5s ease-in;
  z-index: 1000;
}

.headerContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft img {
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

.navLinks .active {
  display: block;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: rgb(20, 20, 20);
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
}

.navLinks li {
  padding: 10px 0;
}

.headerRight ul {
  display: flex;
  gap: 15px;
}
.headerRight ul li {
  list-style: none;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
  }

  .navLinks.active {
    display: flex;
  }
}
